<section>
    <div class="container mx-auto">
        <div class="row">
            <a href="/admin/add-product" class="btn btn-success ml-auto mt-5">Add product</a>
        </div>
        <table class="table mt-3">
            <thead>
                <tr>
                    <th scope="col">NO</th>
                    <th scope="col">NAME</th>
                    <th scope="col">CETEGORY</th>
                    <th scope="col">DESCRIPTION</th>
                    <th scope="col">PRICE</th>
                    <th scope="col">IMAGE</th>
                    
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td>{{inc @index '+' 1}}</td>
                    <th scope="row">{{this.phName}}</th>
                    <td>{{this.category}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.price}}</td>
                    <td><img style="width: 6em;height: 6em;" src="/product-images/{{this._id}}.jpg" alt=""></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>