<section>
        <div class="container mt-5">
            <div class="row">

                {{#each products}}
                <div class="col-md-3 p-1 mb-5 ">
                    <div class="card mx-auto " style="width: 15rem; height:22em;">
                        <img style="height:10rem;width:10rem;" src="/product-images/{{this._id}}.jpg" class="card-img-top mx-auto pt-1"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{this.phName}}</h5>
                            <p class="card-text">RS.{{this.price}}</p>
                            <p class="card-text" style="width:13em;word-wrap:break-word;">{{this.description}}</p>
                            <button  class="btn btn-primary" onclick="addToCart('{{this._id}}')">Add to cart</button>
                        </div>
                    </div>
                </div>
                {{/each}}

            </div>
        </div>
    </section>

